<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VolleyNet</title>
</head>


<div class="container">
  <div class="header">
    <img src="assets/volleynetlogo1.png" alt="logo" class="logo" />
  </div>

  <div class="main-content">
    <div class="headline">VolleyNet – COMING SOON!</div>
    <div class="subhead">Play more! Volleyball made easy.</div>
    <div class="cta-text">
      Download the free, intuitive, and useful mobile app to help you play more volleyball when, where, how, and with whom you want.
    </div>
  </div>

  <!-- Features Section inside a card -->
  <div class="features-card">
    <div class="features">
      <h2>Why Use It?</h2>
      <ul>
        <li>Save time coordinating pickup sessions</li>
        <li>Cut out the message notifications and distractions</li>
        <li>Discover upcoming events (pickup, tournaments, clinics, lessons)</li>
        <li>Expand your network in the volleyball community</li>
        <li>Find teammates by skill level for upcoming events</li>
        <li>Balanced player ranking (upcoming feature)</li>
        <li>Fair, competitive, and safe matches (upcoming feature)</li>
        <li>Easy & reliable scorekeeping to reduce arguments (upcoming feature)</li>
      </ul>
    </div>
  </div>
  <div class="qr-section">
    <h3>Join The Waitlist Now</h3>
    <p>Scan this QR code to access our Google Form.</p>
    <img 
      src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://docs.google.com/forms/d/e/1FAIpQLSc1sbTo2PAsMX8HxRbGZP0bct1C2dbQ2X_GpLLVa4pI_9Iglw/viewform" 
      alt="Google Form QR Code"
      class="qr-code"
    />
    <p>Or click the button below to access the form directly.</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc1sbTo2PAsMX8HxRbGZP0bct1C2dbQ2X_GpLLVa4pI_9Iglw/viewform" class="waitlist-button">Join Waitlist</a>
  </div>

  <!-- Store buttons at the bottom -->
  <div class="store-links bottom-store-links">
    <button class="store-button" (click)="redirectToAppleStore()">Apple Store</button>
    <button class="store-button" (click)="redirectToGoogleStore()">Google Play</button>
  </div>

  <div class="footer">
    &copy; 2025 VolleyNet. All rights reserved.
  </div>
</div>

<router-outlet />
